<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="OpenVPNConfiguration" type="VPNCenter.OpenVPN.PackageConfig.OpenVPNConfiguration, VPNCenter.OpenVPN.PackageConfig" allowExeDefinition="MachineToLocalUser" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="VPNCenter.OpenVPN.PackageConfig.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<OpenVPNConfiguration>
	</OpenVPNConfiguration>
	<userSettings>
		<VPNCenter.OpenVPN.PackageConfig.Settings>
			<setting name="DPAPIVector" serializeAs="String">
				<value></value>
			</setting>
			<setting name="ProxyHost" serializeAs="String">
				<value />
			</setting>
			<setting name="UseProxy" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ProxyPort" serializeAs="String">
				<value>8080</value>
			</setting>
			<setting name="ProxyUser" serializeAs="String">
				<value />
			</setting>
			<setting name="ProxyPassword" serializeAs="String">
				<value />
			</setting>
			<setting name="ProxyMethod" serializeAs="String">
				<value>Http</value>
			</setting>
		</VPNCenter.OpenVPN.PackageConfig.Settings>
	</userSettings>
</configuration>